*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-Family: 'Okra', Helvetica, sans-serif
}
:root{
  --body-color:#f9f9f9;
}
body{
  background-color: var(--body-color)!important;
}
.pe-auto{
  cursor: pointer;;
}
.form-control:focus{
  box-shadow: none!important;
  outline: none!important;
  border: none!important;
}
.imag-product img{
  transition: all .3s ease-in-out;
}
.card:hover img{
  transform: scale(1.1);
}
.add-btn-product{
  border: 1px solid orangered!important;
  transition: all .2s ease-in-out;
}
.add-btn-product:hover{
  background-color: orangered!important;
  color: #fff!important;
}
.rating{
  background-color: green;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
   padding: 2px 4px;
}
#pills-Pizzas-tab{
  margin-left: 0;
}
.nav-link.rounded-pill{
background-color: #fff;
margin-left:1rem;
color:#000;
padding: .4rem 1.4rem;
}
.nav-link.active, .bg-orange-500{
  background-color: orangered!important;
}
.trash{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  width: 45px;
  cursor: pointer;
}
.cartImage{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .add-btn-product {
    font-size: 12px!important;
  }
  .card-title{
    font-size: 14px;
  }
  .w-sm-100{
    width: 100%!important;
  }
}
.viewCard{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}